<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.termux"
    android:installLocation="internalOnly"
    android:sharedUserId="${TERMUX_PACKAGE_NAME}"
    android:sharedUserLabel="@string/shared_user_label">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <permission
        android:name="${TERMUX_PACKAGE_NAME}.permission.RUN_COMMAND"
        android:description="@string/permission_run_command_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/permission_run_command_label"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".app.TermuxApplication"
        android:allowBackup="false"
        android:banner="@drawable/banner"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.OffChat"
        tools:targetApi="m">
        <service
            android:name="com.termux.app.utils.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name="com.termux.app.utils.ShellForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".app.TermuxActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:label="@string/application_name"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:theme="@style/Theme.TermuxActivity.DayNight.NoActionBar"
            tools:targetApi="n">

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".app.MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <activity-alias
            android:name=".HomeActivity"
            android:exported="true"
            android:targetActivity=".app.TermuxActivity">

            <!-- Launch activity automatically on boot on Android Things devices -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.IOT_LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".app.TermuxOpenReceiver"
            android:exported="false" />
        <receiver
            android:name=".app.event.SystemEventReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".shared.activities.ReportActivity$ReportActivityBroadcastReceiver"
            android:exported="false" />

        <service
            android:name=".app.TermuxService"
            android:exported="false" />
        <service
            android:name=".app.RunCommandService"
            android:exported="true"
            android:permission="${TERMUX_PACKAGE_NAME}.permission.RUN_COMMAND">
            <intent-filter>
                <action android:name="${TERMUX_PACKAGE_NAME}.RUN_COMMAND" />
            </intent-filter>
        </service>
        <!--
 This (or rather, value 2.1 or higher) is needed to make the Samsung Galaxy S8 mark the
        app with "This app is optimized to run in full screen."
        -->
        <meta-data
            android:name="android.max_aspect"
            android:value="10.0" /> <!-- https://developer.samsung.com/samsung-dex/modify-optimizing.html -->
        <!-- Version < 3.0. DeX Mode and Screen Mirroring support -->
        <meta-data
            android:name="com.samsung.android.keepalive.density"
            android:value="true" /> <!-- Version >= 3.0. DeX Dual Mode support -->
        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <activity
            android:name="com.appholaworld.offchat.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.OffChat.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.appholaworld.offchat.activities.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.OffChat"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.appholaworld.offchat.activities.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.appholaworld.offchat.activities.TermsActivity"
            android:exported="false" />

        <activity
            android:name="com.appholaworld.offchat.activities.ChatActivity"
            android:exported="false"
            android:theme="@style/Theme.OffChat"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.appholaworld.offchat.activities.OnlineChatActivity"
            android:exported="false"
            android:theme="@style/Theme.OffChat"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.appholaworld.offchat.network.OffChatService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

        <receiver android:name="com.appholaworld.offchat.network.ReplyReceiver" android:exported="false" />
        
        <service
            android:name="com.appholaworld.offchat.services.OffChatMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
